* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex: row;
}

.pages {
  position: absolute;
  right: 0;
  top: 30px;
}

.page a {
  text-decoration: none;
  color: black;
  font-size: 23px;
}

.page {
  margin-left: 15px;
  margin-right: 30px;
  padding: 10px;
}

.navbar h1 {
  margin-left: 25px;
  font-size: 30px;
  margin-top: 23px;
}

.horizontal {
  margin-top: 20px;
}

#carouselExampleCaptions {
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 650px;
}

.carousel-caption {
  bottom: 40%;
  /* animation: slide-up 9s;
  overflow: hidden; */
  color: black;
}

.carousel-caption h5 {
  bottom: 40%;
  animation: slide-up 9s;
  transform: translateY(100%);
  overflow: hidden;
  color: black;
}
.carousel-caption p {
  bottom: 40%;
  animation: slide-up 9s;
  transform: translateY(100%);
  overflow: hidden;
  color: black;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-caption h5 {
  font-size: 45px;
}

.carousel-caption p {
  font-size: 30px;
}

.team_structure {
  display: flex;
  flex-direction: row;
}

.person1 {
  margin-left: 70px;
  margin-right: 70px;
}

.person1 img {
  width: 300px;
  height: 300px;
}

.person1 h2 {
  margin-top: 25px;
}

.person1 h4 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.team h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-center {
  margin-top: 40px;
}

.image-center img {
  width: 100%;
  height: 450px;
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.services h1 {
  text-align: center;
  margin-bottom: 20px;
}

.row1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
}

.item {
  margin-left: 70px;
  margin-right: 70px;
}

#map {
  width: 100%;
  height: 400px;
}
